html, body {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#appDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

#headerDiv {
    display: flex;
    align-items: center;
    margin: 25px;
}

#titleDiv {
    width: 80%;
    float: left;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#bodyDiv {
    height: 100%;
    display: flex;
    align-items: center;
}

#viewDiv {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    float: left;
    margin: 0 15px 0 15px;
    border: 5px;
    border-style: groove;
}

#panel {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    margin-right: 15px;
    float: left;
    vertical-align: top;
    align-content: center;
}

#infoTable {
    width: 100%;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    white-space: nowrap;
}

th, td {
    text-align: center;
    padding: 5px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}